.triangle:before {
  position: absolute;
  top: -6px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: #fff;
  content: '';
}

.dropdown-menu > li > a:hover {
  background-color: rgb(223,240,216);
}

.logo {
  float: left;
  height: 100px;
  width: 100px;
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 35%;
  border-radius: 50% 50%;
  margin-right: 10px;
}

.quick-nav {
  display: table;
  margin: 1rem auto;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-caption {
  padding-bottom: 10px;
}

.useful-links-img {
  padding-left: 6px;
  padding-right: 6px;
}

.ovl-index {
  padding: 6px 6px;
}

.department_title {
  font-size: 24px;
}

figure {
  float: left;
  margin: 10px;
  position: relative;
}

figcaption {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(255,255,255, 0.6);
  padding: 0 5px;
  visibility: hidden;
  transition: 0.5s linear 0s;
  opacity: 0;
}

figure:hover figcaption {
  visibility: visible;
  opacity: 1;
}

img {
    max-width: 100%;
    height: auto;
    background-color: rgb(192,192,192);
}

a.spoiler:after {
  content: " [-]";
}

a.spoiler.collapsed:after {
  content: " [+]";
}